<div class="container">
    <h2>
        Use Id to retrive an employee
    </h2>
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="id" class="form-control" placeholder="Id of employee" aria-label="Id"
            aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="submit()">Submit</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    index
                </th>
                <th>
                    employeeId
                </th>
                <th>
                    firstName
                </th>
                <th>
                    lastName
                </th>
                <th>
                    middlename
                </th>
                <th>
                    ssn
                </th>
                <th>
                    hireDate
                </th>
                <th>
                    endDate
                </th>
                <th>
                    employeeCategoryCode
                </th>
                <th>
                    employeeStatusCode
                </th>
                <th>
                    address
                </th>
                <th>
                    email
                </th>
                <th>
                    employeeRoleId
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of c; index as i">
                <td>
                    {{i}}
                </td>
                <td>
                    {{v.employeeId}}
                </td>
                <td>
                    {{v.firstName}}
                </td>
                <td>
                    {{v.lastName}}
                </td>
                <td>
                    {{v.middlename}}
                </td>
                <td>
                    {{v.ssn}}
                </td>
                <td>
                    {{v.hireDate}}
                </td>
                <td>
                    {{v.endDate}}
                </td>
                <td>
                    {{v.employeeCategoryCode}}
                </td>
                <td>
                    {{v.employeeStatusCode}}
                </td>
                <td>
                    {{v.address}}
                </td>
                <td>
                    {{v.email}}
                </td>
                <td>
                    {{v.employeeRoleId}}
                </td>
            </tr>
        </tbody>
    </table>
</div>