<div class="container">
    <h2>
        Update an interview feedback in the HRM database
    </h2>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="my-3">
            <label class="form-label">interviewFeedbackId</label>
            <input type="text" class="form-control" formControlName="interviewFeedbackId">
        </div>
        <div class="my-3">
            <label class="form-label">rating</label>
            <input type="text" class="form-control" formControlName="rating">
        </div>
        <div class="my-3">
            <label class="form-label">comment</label>
            <input type="text" class="form-control" formControlName="comment">
        </div>
        <div class="my-3">
            <label class="form-label">interviewId</label>
            <input type="text" class="form-control" formControlName="interviewId">
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>