<h2>
    Retrive all job requirements
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                index
            </th>
            <th>
                jobRequirementId
            </th>
            <th>
                numberOfPositions
            </th>
            <th>
                title
            </th>
            <th>
                description
            </th>
            <th>
                hiringManagerId
            </th>
            <th>
                hiringManagerName
            </th>
            <th>
                startDate
            </th>
            <th>
                isActivate
            </th>
            <th>
                closedOn
            </th>
            <th>
                closedReason
            </th>
            <th>
                createdOn
            </th>
            <th>
                jobCategory
            </th>
            <th>
                employeeType
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of c; index as i">
            <td>
                {{i}}
            </td>
            <td>
                {{v.jobRequirementId}}
            </td>
            <td>
                {{v.numberOfPositions}}
            </td>
            <td>
                {{v.title}}
            </td>
            <td>
                {{v.description}}
            </td>
            <td>
                {{v.hiringManagerId}}
            </td>
            <td>
                {{v.hiringManagerName}}
            </td>
            <td>
                {{v.startDate}}
            </td>
            <td>
                {{v.isActivate}}
            </td>
            <td>
                {{v.closedOn}}
            </td>
            <td>
                {{v.closedReason}}
            </td>
            <td>
                {{v.createdOn}}
            </td>
            <td>
                {{v.jobCategory}}
            </td>
            <td>
                {{v.employeeType}}
            </td>
        </tr>
    </tbody>
</table>