<header>
    <nav class="navbar navbar-expand-lg bg-gradient">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview/add-interview/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview/delete-interview/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview/get-interview/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview/list-interview/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview/update-interview/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interviewer
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/add-interviewer/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/delete-interviewer/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/get-interviewer/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/list-interviewer/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interviewer/update-interviewer/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview Feedback
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/add-interview-feedback/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/delete-interview-feedback/" role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/get-interview-feedback/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/list-interview-feedback/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/interview/interview-feedback/update-interview-feedback/" role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Interview Type
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/add-interview-type/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/delete-interview-type/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/get-interview-type/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/list-interview-type/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/interview-type/update-interview-type/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recruiter
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/add-recruiter/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/delete-recruiter/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/get-recruiter/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/list-recruiter/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/interview/recruiter/update-recruiter/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
<footer></footer>