<div class="container">
    <h2>
        Add a new Recruiter to the HRM database
    </h2>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="my-3">
            <label class="form-label">firstName</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="my-3">
            <label class="form-label">lastName</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="my-3">
            <label class="form-label">employeeId</label>
            <input type="text" class="form-control" formControlName="employeeId">
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>