<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitNewUser()">
        <div class="my-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
            <span class="text-danger" *ngIf="lastName && lastName.invalid && lastName.touched">Invalid lastName</span>
        </div>
        <div class="my-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
            <span class="text-danger" *ngIf="firstName && firstName.invalid && firstName.touched">Invalid
                firstName</span>
        </div>

        <div class="my-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <span class="text-danger" *ngIf="email && email.invalid && email.touched">Invalid email</span>
        </div>
        <div class="my-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span class="text-danger" *ngIf="password && password.invalid && password.touched">Invalid password</span>
        </div>
        <div class="my-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span class="text-danger" *ngIf="form.errors?.['notMatched'] && (password &&password.touched)">Not
                the same password</span>
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
    </form>
</div>