<header>
    <nav class="navbar navbar-expand-lg bg-gradient">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Candidate
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/candidate/add-candidate/" role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/candidate/delete-candidate/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/candidate/get-candidate/" role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/candidate/list-candidate/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/candidate/update-candidate/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Job Requirement
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/job-requirement/add-job-requirement/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/job-requirement/delete-job-requirement/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/job-requirement/get-job-requirement/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/job-requirement/list-job-requirement/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/job-requirement/update-job-requirement/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Submission
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission/add-submission/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission/delete-submission/"
                                    role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission/get-submission/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission/list-submission/"
                                    role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission/update-submission/"
                                    role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Submission Status
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission-status/add-submission-status/"
                                    role="button">
                                    Add
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/recruiting/submission-status/delete-submission-status/" role="button">
                                    Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/app/recruiting/submission-status/get-submission-status/"
                                    role="button">
                                    Get
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/recruiting/submission-status/list-submission-status/" role="button">
                                    Get All
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/app/recruiting/submission-status/update-submission-status/" role="button">
                                    Update
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>
<footer></footer>