<div class="container">
    <h2>
        Retrive all employee categories
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    index
                </th>
                <th>
                    lookupCode
                </th>
                <th>
                    description
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of c; index as i">
                <td>
                    {{i}}
                </td>
                <td>
                    {{v.lookupCode}}
                </td>
                <td>
                    {{v.description}}
                </td>
                
            </tr>
        </tbody>
    </table>
</div>