<div class="container">
    <h2>
        Retrive all employee roles
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    index
                </th>
                <th>
                    lookupCode
                </th>
                <th>
                    name
                </th>
                <th>
                    abbr
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of c; index as i">
                <td>
                    {{i}}
                </td>
                <td>
                    {{v.lookupCode}}
                </td>
                <td>
                    {{v.name}}
                </td>
                <td>
                    {{v.abbr}}
                </td>
            </tr>
        </tbody>
    </table>
</div>